#toetajad
.container-fluid.toetajad
    .row.header
        .container
            .text.center
                h2 Kogu Me Lugu Koostööpartneriteks on
    .list
        .container
            .row
                .col-md-12
                    .tablediv
                        table.lg
                            tr
                                td
                                    each p in F.partners || []
                                        .col-md-4
                                            if p.displayinfo && p.displayinfo.indexOf('http') > -1
                                                a(href=p.displayinfo)= p.displayname
                                            else
                                                a= p.displayname


            #bottom-table.row
                .col-md-4
                    table.md
                        tr
                            td
                                h3 Suurtoetajad
                        each s in F.financiers || []
                            tr
                                td
                                    if s.displayinfo && s.displayinfo.indexOf('http') > -1
                                        a(href=s.displayinfo)= s.displayname
                                    else
                                        a= s.displayname
                .col-md-8
                    table.md
                        tr
                            td
                                h3 Tänusõnad kaastegutsejatele
                        tr
                            td
                                b Meeskonnaliikmed:
                                each t in F.thankstoteam || []
                                    | &nbsp;
                                    if t.displayinfo && t.displayinfo.indexOf('http') > -1
                                        a(href=t.displayinfo)= t.displayname
                                    else
                                        a= t.displayname
                                    | ,
                                |  jt.
                        tr
                            td
                                b Toetajad ja hooandjad:
                                each t in F.thankstosupporters || []
                                    | &nbsp;
                                    if t.displayinfo && t.displayinfo.indexOf('http') > -1
                                        a(href=t.displayinfo)= t.displayname
                                    else
                                        a= t.displayname
                                    | ,
                                |  jt.
                    table.md
                        tr
                            td
                                h3 Produtsent
                            td
                                h3 Kaasprodutsent
                        tr
                            td SA Unitas
                            td Meelis Niinepuu
    .container
        .row.unitas
            .col-md-2
                a(href='http://unitas.ee', target='_blank')
                    img.img-responsive(src='/assets/images/unitas+logo.jpg')
            .col-md-10
                h3 Algataja
                p
                    b Sihtasutus Unitas
                p Sihtasutus Unitas on 2008. aastal Tallinnas asutatud ajaloohariduse ning inimõiguste kultuuri arendamisele keskenduv sihtasutus, mis kuulub Euroopa Mälu ja Süüme Koostöökogu asutajaliikmete hulka ning mille eesmärk on totalitaarsete režiimide ja ideoloogiate inimvaenulikkuse teadvustamine ja nende kuritegude rahvusvahelise hukkamõistmise taotlemine.
                p
                    a(href='http://unitas.ee', target='_blank') www.unitas.ee
